.info-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.info-block__user {
	position: absolute;
	top: 9px;
	left: 9px;
	width: 62px;
	height: 62px;
	border-radius: 50px;
	z-index: 1;
}

.info-block__item:not(:last-child){
	margin-bottom: 16px;
}

.info-block__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}