body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
  color: #EBD8FF;
  background-color: rgba(235, 216, 255, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
margin: 0;
padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}